.content-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
    background-color: #d2d8f3;
    text-align: center;
    padding-left:200px;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.side-menu {
    width: 180px;
    padding: 20px;
    background-color: #9198bc;
    /*
    margin-left: auto;
    */
    overflow-y: auto;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    text-decoration: none;
    color: #000;
}
