.content-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
    background-color: #d2d8f3;
    text-align: center;
    padding-left:220px;
    margin-top: 160px;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
/*---------------------MENU----------------------------------------------*/
.menu {
    height: 100%;
}

.side-menu {
    width: 180px;
    padding: 20px;
    background-color: #9198bc;
    /*
    margin-left: auto;
    */
    overflow-y: auto;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 20px 0;
   }

.menu a {
    text-decoration: none;
    color: #000;
    padding: 10px;

}

.menu ul li a:hover {
    background-color: #e4ebfb;
    color: #1f2635;
}

/*--------------------------LOGIN-------------------------------------------*/

.login {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d9def4;
}

.login h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.login label {
    display: block;
    margin-bottom: 5px;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login input[type="checkbox"] {
    margin-right: 5px;
}

.login button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login button[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    margin-top: 10px;
}


/*------------------------------- SIGN UP ------------------------------------*/

.signup {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d9def4;
}

.signup h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.signup label {
    display: block;
    margin-bottom: 5px;
}

.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.signup button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.signup button[type="submit"]:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 10px;
}

/*--------------------- ABOUT --------------------------------------*/
.library-info {
    margin:0 80px;
}

/*----------------------------------- HISTORY ---------------------------------------------*/
.history {
    padding: 20px;
    margin: 20px 0;
}

.history h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.history h3 {
    color: #033d7c;
    margin-bottom: 10px;
}

.history ul {
    list-style-type: none;
    padding: 0;
}

.history ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history ul li h4 {
    margin: 0 0 10px 0;
    color: #333;
}

.history ul li p {
    margin: 5px 0;
    color: #555;
}

.history .reserved-books,
.history .loaned-books,
.history .returned-books {
    margin-bottom: 20px;
}


/*----------------------------- BOOKS --------------------------------------------------*/
.books {
    padding: 20px;
    margin: 20px 0;
}

.filters {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.filters input {
    padding: 5px;
    font-size: 14px;
    flex: 1;
}

.books h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.books ul {
    list-style-type: none;
    padding: 0;
}

.books ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.books ul li h3 {
    margin: 0 0 10px 0;
    color: #033d7c;
}

.books ul li p {
    margin: 5px 0;
    color: #555;
}

.books ul li hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.books ul li img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
}

.books ul li button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.books ul li button:hover {
    background-color: #45a049;
}

/*------------------------- FOOTER ------------------------------------------*/
footer {
    background-color: #e4ebfb;
    text-align: center;
     position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    margin:5px;
}